html,
body {
    width: 100%;
    overflow-x: hidden;
}

/******************************フォロー一覧*****************************/
@media screen and (max-width: 600px) {
    .drink-block:nth-child(n+2) {  /* 2つ目以降を非表示 */
        display: none;
    }
}
/************************************ヘッダー*****************************************************/
@media screen and (max-width: 600px) {
    #Hd {
        height: 90px;
        display: flex;
        align-items: center; /* 中央揃え */
        justify-content: space-between; /* 左右に要素を配置 */
    }

    .hd-logo h1 {
        margin: 0; /* マージンをリセットして高さを揃える */
        line-height: 70px; /* テキストの高さを調整して中央揃え */
    }

    .hamburger-menu {
        align-items: center; /* ハンバーガーメニューの中身を縦に中央揃え */
        top: auto; /* topを無効化 */
        position: static; /* 必要ならabsoluteを解除 */
    }
}

